{% trans_default_domain 'contao_exception' %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ statusCode }} Error{% endblock %}</title>
    <meta name="generator" content="Contao Open Source CMS">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">

    <link rel="stylesheet" href="files/app/build/css/vendor.css">
    <link rel="stylesheet" href="files/app/build/css/framway.css">

  {% endblock %}
</head>
<body>
  <div class="w-100 flex-justifycontent--center-alignitems--center" style="min-height: 100vh">
    <div class="block-std txt-center p-all-x2">
      <div id="logo" class="m-bottom-x2">
        <img src="" alt="Logo site" style="width: 350px">
      </div>
      <div class="content">
        {% block main %}
           {% if block('matter') is defined %}
               {% set _block = block('matter') %}
               {% if _block|trim is not empty %}
                   <h2>{{ 'XPT.matter'|trans }}</h2>
                   {{ _block|raw }}
               {% endif %}
           {% endif %}
           {% if block('howToFix') is defined %}
               {% set _block = block('howToFix') %}
               {% if _block|trim is not empty %}
                   <h2>{{ 'XPT.howToFix'|trans }}</h2>
                   {{ _block|raw }}
               {% endif %}
           {% endif %}
           {% if block('explain') is defined %}
               {% set _block = block('explain') %}
               {% if _block|trim is not empty %}
                   <h3>{{ 'XPT.more'|trans }}</h3>
                   {{ _block|raw }}
               {% endif %}
           {% endif %}
       {% endblock %}
       <span class="ft-2-em">¯\_(ツ)_/¯</span>
      </div>
    </div>
  </div>
  <script src="files/app/build/js/vendor.js"></script>
  <script src="files/app/build/js/framway.js"></script>
  <script>
    $(function(){
      $.getJSON({
        url: 'assets/smartgear/config.json'
      }).done(function(data){
        $('#logo img').attr('src',data.websiteLogo).attr('alt','Logo '+data.websiteTitle);
      })
    });
  </script>
</body>
</html>
